.card.produto {
    box-shadow: none !important;

    .content {
        z-index: 4;
        position: relative;
        border-top: 0px !important;

        .options {
            padding-top: 5px;

            ul {
                margin: 0;
                padding: 0;
                display: flex;
                list-style: none;
                align-items: center;
                justify-content: space-between;
            }
        }

        .info {
            z-index: 4;
            height: auto;
            position: relative;
            transition-duration: 0.3s;
            background-color: white;

            .dados {
                padding: 10px 0;

                a:focus {
                    text-decoration: underline;
                }

                h3 {
                    color: $black;
                    font-size: 14px;
                    margin-bottom: 10px;
                    font-weight: normal;
                }

                .precoBase {
                    color: #666666;
                    font-size: 14px;

                    i {
                        text-decoration: line-through;
                    }
                }

                .preco {
                    font-size: 18px;
                    font-weight: 900;
                    line-height: 30px;
                    color: $primary-color;

                    &:after {
                        content: '\A';
                        white-space: pre;
                    }
                }

                .parcelamento {
                    color: #666666;
                    font-size: 14px;
                }
            }

            .botoes {
                width: 100%;
                display: flex;
                align-items: center;
                border-top: 0 !important;
                transition-duration: 0.3s;

                input[type="number"] {
                    -moz-appearance: textfield;
                    -webkit-appearance: textfield;
                }

                input[type="number"]::-webkit-outer-spin-button,
                input[type="number"]::-webkit-inner-spin-button {
                    margin: 0;
                    -webkit-appearance: none;
                }

                .btnComprar {
                    color: #fff;
                    width: 100%;
                    height: 40px;
                    display: flex;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 40px;
                    align-items: center;
                    border-radius: 50px;
                    padding: 0 !important;
                    justify-content: center;
                    background-color: #FB7D32;

                    svg {
                        margin-left: 10px;
                        margin-bottom: -2px;
                    }
                }

                .box-count {
                    width: 90px;
                    display: flex;
                    margin-right: 10px;
                    align-items: center;
                    justify-content: space-between;

                    .count {
                        width: 30px;
                        height: 30px;
                        display: block;
                        font-size: 20px;
                        cursor: pointer;
                        line-height: 26px;
                        font-weight: bold;
                        text-align: center;
                        background-color: #F8F8F8;
                        border: 1px solid #CBCBCB;
                    }

                    input {
                        margin: 0;
                        padding: 0;
                        width: 30px;
                        height: 30px;
                        border: none;
                        text-align: center;
                        pointer-events: none;
                    }
                }

                .btnDetalhes {
                    background: #eee;
                    color: #666;

                    &:hover,
                    &:focus,
                    &:checked,
                    &:active {
                        background: #eee;
                        color: #666;
                        opacity: .9;
                    }
                }

                button.ui.circular {
                    @media screen and (max-width: $mobile-bp) {
                        padding: .58571429em !important;
                        margin-top: 3px;
                    }
                }

                button.ui.basic.primary,
                button.ui.basic.secondary,
                button.ui.basic.action {
                    @media screen and (max-width: $mobile-bp) {
                        padding: .78571429em 0.8em !important;
                    }
                }
            }

            .sku-options {
                color: #ffffff;
                display: block;
                padding: 10px;
                position: absolute;
                text-align: left;
                bottom: 100%;
                transition-duration: .3s;
                width: 100%;
                max-height: 230px;
                z-index: 10 !important;

                .btn-comprar-card {
                    display: none;
                }

                &.mask {
                    background: rgba(255, 255, 255, .5);
                }

                .produto-esgotado-label {
                    color: $grey !important;

                    &:not(.hideme) {
                        display: block;
                        font-weight: 600;
                        margin-bottom: .5em;
                    }
                }
            }
        }
    }

    &:hover,
    &:focus {
        box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5 !important;

        .content {

            .ui.slide.masked.reveal.image>.visible.content {
                transform: translateX(-100%) !important;
            }

            .ui.slide.masked.reveal.image>.hidden.content {
                transform: translateX(0) !important;
            }
        }
    }

    .wishlist {
        .bcg-heart {
            cursor: pointer;

            &:after {
                z-index: 9;
            }
        }
    }

    &.skeleton {
        .content {
            .line {
                width: 100%;
                border-radius: 7px;
                background-image: linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px);
                background-size: 600px;
                animation: shine-lines 2s infinite ease-out;

                &.img {
                    height: 240px;
                }

                &.name {
                    height: 18px;
                    margin-bottom: 10px;
                }

                &.rating {
                    height: 18px;
                    margin-bottom: 10px;
                    margin-top: 10px;
                }

                &.price {
                    height: 15px;
                    margin-top: 15px;
                    margin-bottom: 10px;
                }

                &.installment {
                    height: 18px;
                }
            }
        }
    }
}

@keyframes shine-lines {
    0% {
        background-position: 100%;
    }

    40%,
    100% {
        background-position: -100%;
    }
}

.ui.top.right.attached.label.massive.wishlist {
    background: transparent;
}

.sku-options {

    .dropdown {

        .scrolling.menu {
            max-height: 7.8rem !important;
        }
    }
}

.ui.three.doubling.cards>.card,
.ui.four.doubling.cards>.card,
.ui.five.doubling.cards>.card,
.ui.six.doubling.cards>.card {
    @media screen and (max-width: $mobile-bp) {
        width: calc(100% - 2em);
        margin-left: 1em;
        margin-right: 1em;
    }
}