.car-banners {
	.container {
		position: relative;

		.description {
			width: 30%;
			height: 100%;
			top: 0;
			bottom: 0;
			position: absolute;
			background: rgba(255, 255, 255, .5);
			display: flex;

			.html {
				flex-direction: column;
				vertical-align: middle;
				align-self: center !important;
				width: 100%;
				text-align: center;
			}
		}
	}
}

.centralHalf {
	margin: 20px 0 50px;

	img,
	.ui.image {
		width: 100%;
		height: auto;
	}
}

.InfoOne {
	/* width */
	::-webkit-scrollbar {
		width: 0px;
		height: 0px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		border-radius: 0px;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		border-radius: 0px;
		background-color: transparent;
	}

	ul {
		margin: 0;
		padding: 0;
		display: flex;
		list-style: none;
		
		@media screen and (min-width:$mobile-bp) {
			align-items: center;
			justify-content: space-between;
		}

		@media screen and (max-width:$mobile-bp) {
			overflow-x: auto;
			flex-wrap: nowrap;
			margin: 0 -15px 0 0;
			justify-content: initial;
			-webkit-overflow-scrolling: touch;
			-ms-overflow-style: -ms-autohiding-scrollbar;

			li {
				flex: 0 0 auto;
				max-width: 270px;

				&:not(:last-child) {
					margin-right: 15px;
				}
			}
		}

		li {
			@media screen and (min-width:$mobile-bp) {
				width: 50%;
			}

			article {
				@media screen and (min-width:$mobile-bp) {
					display: flex;
				}
		
				img {
					margin-right: 15px;
				}
		
				h2 {
					font-size: 25px;
					font-weight: 600;
					color: #5D4D2F;

					@media screen and (max-width:$mobile-bp) {
						margin: 15px 0;
					}
				}
		
				p {
					color: #616161;
					margin-bottom: 10px;
				}
			}
		}
	}
}

.InfoTwo {
	/* width */
	::-webkit-scrollbar {
		width: 0px;
		height: 0px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		border-radius: 0px;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		border-radius: 0px;
		background-color: transparent;
	}

	ul {
		margin: 0;
		padding: 0;
		display: flex;
		list-style: none;
		align-items: center;

		@media screen and (max-width:$mobile-bp) {
			margin: 0 -15px;
			overflow-x: auto;
			flex-wrap: nowrap;
			justify-content: initial;
			-webkit-overflow-scrolling: touch;
			-ms-overflow-style: -ms-autohiding-scrollbar;

			li {
				flex: 0 0 auto;
				max-width: 300px;

				&:not(:last-child) {
					margin-right: 15px;
				}
			}
		}
	}

	article {
		display: flex;
		align-items: center;

		img {
			margin-right: 10px;
		}

		.text {
			@media screen and (min-width:$mobile-bp) {
				padding-right: 15px;
			}
		}
	}
}

.InfoThree {
	margin: 50px 0;

	img {
		width: 100%;
	}

	h2 {
		color: #5D4D2F;
	}

	p {
		margin: 5px 0 30px;

		@media screen and (max-width:$mobile-bp) {
			margin: 7px 0;
		}
	}

	a {
		width: 100%;
		height: 47px;
		display: block;
		line-height: 45px;
		font-weight: bold;
		text-align: center;
		border-radius: 50px;
		border: 1px solid #5D4D2F;

		@media screen and (min-width:$mobile-bp) {
			max-width: 230px;
		}
	}
}

.footerHalf {
	margin: 50px 0;

	img {
		width: 100%;
	}
}

.ui.images {
	img.side-halfbanner-image {
		margin-left: 0px;
		margin-right: 0px;
	}
}