.prat-title {
    font-size: 30px;
    color: #5D4D2F;
}

.slideshow-desktop {
    @media screen and (max-width:$mobile-bp) {
        .product-in-card {
            width: 50% !important;
            margin: 0 !important;
        }
    }
}

.slick-initialized {
    .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 1;
        width: 27px;
        height: 27px;
        font-size: 0;
        border: none;
        display: block;
        cursor: pointer;
        line-height: 38px;
        margin-top: -15px;
        text-align: center;
        border-radius: 50px;
        transition: opacity 300ms;
        background-color: #fff;
        box-shadow: 0px 3px 4px 0px grey;

        &:not(.slick-disabled) {
            opacity: 1 !important;
        }

        &:after {
            content: '';
            display: inline-block;
            width: 10px;
            height: 10px;
            border-right: 2px solid gray;
            border-bottom: 2px solid gray;
        }

        &.slick-prev {
            left: 10px;

            &:after {
                transform: rotate(135deg);
                margin-right: -3px;
            }
        }

        &.slick-next {
            right: 10px;

            &:after {
                transform: rotate(-45deg);
                margin-left: -3px;
            }
        }
    }
}
