.infoBar {
	article {
		display: flex;
		padding: 7px 0;
		color: #5D4D2F;
		align-items: center;
		border-radius: 50px;
		transition: all 300ms;
		justify-content: center;
		border: 2px solid #5D4D2F;

		i {
			margin-right: 15px;
		}

		&:hover {
			color: #fff;
			background-color: #5D4D2F;

			img {
				filter: brightness(0) invert(1);
			}
		}

		p {
			font-size: 15px;

			strong {
				display: block;
			}
		}
	}
}