.newsletter-bar {
	min-height: 300px;
	background-position: center;
	background-image: url(/assets/image/banners/footer-news.jpg);

	@media screen and (max-width:$mobile-bp) {
		margin-top: 30px;
		text-align: center;
	}

	h4 {
		font-size: 30px;
		font-weight: bold;
		color: #5D4D2F;

		@media screen and (min-width:$mobile-bp) {
			margin-top: 65px;
		}
	}

	.textNews {
		font-size: 18px;
		color: #4B4B4B;
	}

	@media screen and (max-width:$mobile-bp) {
		.field,
		.input {
			width: 100% !important;
		}
	}

	#email_news,
	#btn_news {
		height: 45px;
		border-radius: 50px;

		@media screen and (max-width:$mobile-bp) {
			width: 100%;
			margin-bottom: 10px;
		}
	}

	#email_news {
		@media screen and (min-width:$mobile-bp) {
			width: 520px;
		}
	}

	#btn_news {
		height: 45px;
		background-color: #87AC53;
	}
}

footer {
	padding-top: 30px;

	.border {
		margin-top: 30px;
		padding-top: 30px;

		@media screen and (min-width:$mobile-bp) {
			border-top: 1px solid #dcdcdc;
		}
	}

	.row_1,
	.row_2 {
		@media screen and (min-width:$mobile-bp) {
			display: flex;
			justify-content: space-between;
		}

		.column {
			&.column_4 {
				@media screen and (max-width:$mobile-bp) {
					margin-top: 40px;
				}
			}

			&.toggle {
				@media screen and (max-width:$mobile-bp) {
					padding: 15px;
					margin: 0 -15px;
					border-bottom: 1px solid #dcdcdc;

					&.active {
						.title {
							.icon {
								transform: rotate(-90deg);
							}
						}
					}
				}
			}

			.title {
				color: #808080;
				font-weight: bold;

				@media screen and (max-width:$mobile-bp) {
					margin-bottom: 0;

					.icon {
						float: right;
						transition: all 300ms;
						transform: rotate(90deg);
					}
				}

				&.main.color {
					color: #87ac53;
				}
			}

			.content {
				@media screen and (max-width:$mobile-bp) {
					display: none;
				}

				ul {
					margin: 0;
					padding: 0;
					list-style: none;

					@media screen and (max-width:$mobile-bp) {
						margin-top: 15px;
					}

					li {
						margin-bottom: 10px;
					}
				}
			}
		}
	}

	.row_2 {
		@media screen and (max-width:$mobile-bp) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.column_1,
			.column_2 {
				width: 50%;
			}

			.column_3 {
				width: 100%;
				margin-top: 20px;
				text-align: center;
			}
		}
	}

	.copyright {
		padding: 10px 0;
		margin-top: 30px;
		background-color: #f8f8f8;

		@media screen and (max-width:$mobile-bp) {
			text-align: center;

			.content {
				padding: 15px;
			}
		}

		.content {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}