#top_bar {
  padding: 5px 0 7px;
  margin-bottom: 5px;
  border-bottom: 1px solid #dcdcdc;

  .columns {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .column {
      p.text {
        display: flex;
        color: #7A7A7A;
        align-items: center;

        i {
          margin-right: 10px;
        }
      }
    
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    
        li {
          a {
            color: #7A7A7A;
          }
    
          &:not(:last-child) {
            &:after {
              content: '|';
              margin: 0 5px;
            }
          }
        }
      }
    }
  }
}